/*Nav*/
#navbar {
    background-color:#5e5a4a;
    color:white;
}

.navbar,
.nav-container {
    border-bottom:1px solid #5e5a4a;
    height:50px;
    overflow:hidden;
}
.menu-social-media-container {
    height:50px;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
.navbar,
.navbar-default .navbar-brand {
    color:white;
}
.navbar-default .navbar-brand:hover {
    color:#a50050;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #a50050;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid red;
    border-radius: 4px;
}
.nav > li > a {
    color:white;
    text-decoration:none;
}
.nav > li > a:hover {
    color:white;
    background-color:#bd8b29;
}

/*Quicklinks*/

#quicklink-wrap {
    color:white;
    font-size:1.4em;
    text-align:center;
}
#quicklink-wrap a {
    color:white;
}
.quicklink:hover {
    background-color:#f0c723;
    color:white;
    text-align:center;
}
#quicklink-wrap i {
    font-size:4.0em;
}
#quicklink-wrap h2 {
    color:white;
    font-size:1.5em;
    padding-bottom:0.5em;
}

.quicklink {
    padding:1.0em;
    height:250px;
    overflow:hidden;
    background-color:#b2ac91;
    transition: background-color 0.6s ease;
}
.qlhover {
    display:none;
    height:250px;
    width:100%;
}
.qlhover:hover {
    display:block;
    background-color:#f0c723;
    
}

.quicklink .go {
    display:none;
}

.quicklink:hover .go {
    display:block;
}
.quicklink:hover .now {
    display:none;
}

/*Sidebar*/


#sidebar {
    background-color:red;
    min-height:800px;
}

#sidebar h3 {
	margin: 4px 0 10px 0;
	padding: 0;
	color: #3f3f3f;
	font-size: 14px;
	font-weight: bold;
}

#sidebar h3 a {
	color: #3f3f3f;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#sidebar p {
	margin: 0;
	padding: 0 0 10px 0;
	color: #3f3f3f;
	font-size: 12px;
	line-height: 18px;
}















